body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#blackout {
  display: none;
  position: fixed;
  zindex: 500;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#statusBars {
  width: 15vmin;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}
#purchaseBars {
  width: 15vmin;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}
#room {
  width: 70vmin;
  height: 70vmin;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#realMoney {
  width: 15vmin;
  height: 100px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}
#gameMoney {
  width: 15vmin;
  height: 100px;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
}

#workButton {
  position: absolute;
  zindex: 1000;
  top: 50%;
  left: 40%;
  width: 20%;
  border-radius: 50%;
  border: 1px solid black;
  height: 10%;
  font-size: 30px;
  font-weight: bold;
  background-color: red;
  box-shadow: 0 5px 0 gray;
}

#workButton:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 gray;
}
